@media only screen and (max-width: 414px) {
  .details-picture {
    max-width: 90% !important;
    min-width: 300px;
  }

  .details-description {
    min-width: 300px;
    max-width: 90% !important
  }

}
@media only screen and (min-width: 415px ) {
  .details-picture {
    max-width: 100% !important;
    min-width: 90%;
  }

  .details-description {
    min-width: 90%;
    max-width: 90% !important;
  }

}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
