body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-white {
  color: #FFFFFF;
}

.font-bold {
  font-weight: 600 !important;
}


a {
  text-decoration: none !important;
  color: black;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem!important
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.ml-3 {
  margin-left: 1rem!important;
}

.mr-3 {
  margin-right: 1rem!important;
}

.room-list-item-picture {
  max-width: 100%;
  width: 200px;
}

.full-width-with-padding {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 90% !important;
  align-items: center;
}

@media only screen and (max-width: 414px) {
  .mobile-text-center {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    max-width: 90% !important;
  }
}
