.booking-picture {
  max-width: 100% !important;
}

@media only screen and (max-width: 414px) {
  .sm-text-center {
    text-align: center;
  }
}

@media only screen and (min-width: 415px) {
  .display-inline-flex {
    display: inline-flex;
  }
  .md-booking-picture {
    max-width: 90%;
  }
}
